.row1{
display: grid;
grid-template-columns: 10% 10% 50% 10% 10% 10%;
grid-template-rows: 50px;
}

.row2{
    display: grid;
    grid-template-columns: 100%;
}
.row2 .text{
position: absolute;
top: 100px;
left: 30px;
}
.relative{
    position: relative;
}

.row3{
    display: grid;
    grid-template-rows: 50% 50% ;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.row4{
    display: grid;
    grid-template-rows: 33.33% 33.33% 33.33% ;
    grid-template-columns: 23.33% 10% 23.33% 10% 23.33%;
}